/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/vcs.xml
/public/img/15
/public/img/16
/public/img/17
/public/img/18
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]1/shelved.patch
